{% load menu %}
<header id="masthead" class="site-header">
    <div class="site-branding">
        <h1 class="site-title"><a href="{% url 'blog:home' %}" rel="home">Blog</a></h1>
        <h2 class="site-description">Portfolio</h2>
    </div>
    <nav id="site-navigation" class="main-navigation">
        <button class="menu-toggle">Menu</button>
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
        <div class="menu-menu-1-container">
            <ul id="menu-menu-1" class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="#">Category</a>
                    {% show_menu %}
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>