<div class="grid portfoliogrid">
    {% for post in posts %}
    <article class="hentry">
        <header class="entry-header">
                <h2 class="entry-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                <span>
                    {{ post.content|truncatewords_html:30|safe }}
                </span> <br>
                <span>Category: <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></span> <br>
                <span>Author: @{{ post.author }}</span> <br>
                <span>Created at: {{ post.created_at|date:'d.m.y' }}</span> <br>
                {% for tag in post.tags.all %}
                <a class='portfoliotype' href='{{ tag.get_absolute_url }}'>{{ tag.title }}</a>
                {% endfor %}
        </header>
    </article>
    {% endfor %}
</div>